
@import url("https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Mono:wght@400;500;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Moonrocks&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
}
body{
    width: 100%;
    height: 100%;
 background: #f5f5f5;
}
nav{
    /* background-color: rgb(230, 216, 216); */
  background: #fff;
    width: 100%;
height: 80px;
}
 /* label.logo{
    font-size: 25px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 0px 60px;
    line-height: 80px;
    color: white;
} */
nav ul {
    float: right;
    list-style-type: none;
    
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin-right: 40px;
   
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    display: block;
}
 /* .active{
    background-color: brown;
    width: 50px;
    height: 50px;
   padding-top: 10px;
}  */
nav ul li a:hover{
    cursor: pointer;
    color: rgb(27, 123, 218);
    /* background : aqua;
    /* cursor: pointer;
    height: 20px; */
    /* height: 20px; */
    /* border-radius: 25%;
    margin-top: 10px; */ 
}
.image{
    width: 270px;
    margin-top: -70px;
    /* background-color: aqua; */
    color: white;
}
#checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 50px;
    font-size: 30px;
    color: white;
    display: none;
}
#check{
    display: none;
}
#check:checked ~ ul{
    left: 0;
}

/* nav ul li a{
    transition: 3s;
}
label.logo{
    transition: 3s 1s;

} */
/* .card{
    transition: 2s;
} */









@media (max-width:311px){
label.logo{
    font-size: 18px;
    margin: 0px 50px;
}



}
@media (max-width:725px){
    #checkbtn{
       
        display: block;
    }
    nav ul{
        width: 100%;
       height: 100vh;
       background-color: rgb(252, 188, 220);
       position: fixed;
       top: 80px;
       left: -100%;
       transition: .5s;
    }
    nav ul li{
        line-height: 50px;
        margin: 20px;
    }
    label.logo{
        font-size: 20px;
    }


    nav ul li{
        display: block;
        text-align: center;
    }


}
.one h1{
    font-size: 4.5rem;
    color: #444;
    text-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    line-height: 1.8;
}


.iu{
    font-size: 3rem;
    /* margin-left: 120px; */
    

}
.o{
    margin-left: 20px;
}
.btn {
    display: inline-block;
    cursor: pointer;
    margin-top: 1rem;
    color: 0.1rem solid #0e82ef;
    border: 0.1rem solid #0e82ef;
    font-size: 1.7rem;
    background: none;
    padding: 1rem 3rem;
    text-decoration: none;
  }
  .btn:hover {
    background: #6bb7da;
  }
  .content{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;


  }
  .one{
    margin-left: 80px;
    margin-top: 60px;
  }.two img{
    width: 70%;
    margin-left: 130px;
    margin-bottom: 20px;
  }
  .icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
 background-color: #f0e4e4;
  }
  .icons-container .icon {
    padding: 2.5rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0.5rem 0.5rem 0 rgba(181, 73, 73, 0.1);
    background: #f5f5f5;
  }
  .icons-container .icon:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(3, 92, 194, 0.2);
  }
  .icons-container .icon i {
    font-size: 4rem;
    color: #008BB0;
    padding-bottom: 0.7rem;
  }
  .icons-container .icon h3 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #444;
    padding: 0.5rem 0;
  }
  .icons-container .icon p {
    font-size: 1.8rem;
    color: #777;
  }
  .facilities{
    background-color: #f5f5f5;
  }
  .heading{
    color: blue;
    background-color: #f0e4e4;
    text-align: center;
    padding: 20px;
  }
  span{
    color: red;
  }
  .container{
    /* background-color: #008BB0; */
    display: flex;
  }
  .box{
    background: #f5f5f5;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(196, 212, 230, 0.2);
  }
  .icon{
    color: rgb(46, 84, 222);
    font-size: 2rem;
  }
 .aboutus{
  display: flex;
  justify-content: space-around;
 }
  .btn {
    border: 0.2rem solid #008BB0;
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    display: inline-block;
    color: #008BB0;
    box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    font-size: 1.7rem;
    cursor: pointer;
  }
  .btn span {
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    background: #008BB0;
    color: #fff;
    margin-left: 0.5rem;
  }
  
  .btn:hover {
    background: #008BB0;
    color: #fff;
  }
  
  .btn:hover span {
    color: #008BB0;
    background: #fff;
    margin-left: 1rem;
  }
  .us{
    text-align: center;
    padding: 30px;
    color: blue;
  }
  .aboutheader{
    margin-top: 140px;
  }
  .aboutimg{
    margin-top: -50PX;
  }
  .eh{
    text-align: center;
    color: blue;
    font-size: 2rem;
  }
  .employe{
    display: flex;
    gap: 30px;
  }
  .emp1{
    background-color: #008BB0;
    width: 33%;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0.5rem 0.5rem 0 rgba(181, 73, 73, 0.1);
    background: #f5f5f5;
  }
 
  .emp2{
    background-color: #008BB0;
    width: 30%;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0.5rem 0.5rem 0 rgba(181, 73, 73, 0.1);
    background: #f5f5f5;
  }
  
  .emp3{
    background-color: #008BB0;
    width: 30%;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0.5rem 0.5rem 0 rgba(181, 73, 73, 0.1);
    background: #f5f5f5;
  }
  .footer {
    padding: 2rem 4%;
    background: #efefef;
    display: ;
    width: 100%;
  }
  .footer .box-container {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); */
    gap: 2rem;
    width: 100%;
    text-align: center;
  }
  .footer .box-container .box .share a {
    font-size: 1rem;
    margin-left: 0.5rem;
    color: #008BB0;
  }
  .footer .box-container .box .share a:hover {
    color: #444;
  }
  .footer .box-container .box h3 {
    font-weight: 500;
    font-size: 2.1rem;
    color: #444;
    text-transform: capitalize;
    padding: 1rem 0;
  }
  .footer .box-container .box .link {
    font-size: 1.5rem;
    color: #777;
    line-height: 2;
    padding: 0.5rem 0;
    display: block;
  }
  .footer .box-container .box .link:hover {
    color: #008BB0;
    text-decoration: underline;
  }
  .footer .box-container .box p {
    font-size: 1.5rem;
    color: #777;
    line-height: 2;
    padding: 1rem 0;
  }
  .footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    font-size: 1.7rem;
    color: #444;
    text-transform: capitalize;
    border-top: 0.1rem solid #444;
  }
  .footer .credit span {
    color: #008BB0;
  }
  
  @media (max-width: 991px) {
    html {
      font-size: 52%;
    }
    .header {
      padding: 2rem;
    }
    section {
      padding: 2rem;
    }
  }
  .footer{
    display: flex;
    justify-content: space-around;
    /* background-image: url("./pic/black\ wall.png"); */
    background-color: rgb(14, 12, 12);
    width: 100%;
    height: 200px;
    padding-top:20px;
    color: white;
    animation: flade-left 2s infinite;
    padding-top: 30px;
    /* margin-top: 100px; */
   }
   .pep{
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;

   }
   .tre{
    transition: fd  0.5s linear alternate;
    transform: rotate(360deg);
   }
   .footer2 a{
    color: white;
    text-decoration: none;
    /* margin-top: -20px; */
    /* margin: 230px; */
    margin-top: 20px;
    font-size: 1.3rem; font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
   .footer3 a{
    color: white;
    text-decoration: none;
    /* margin: 20px 20px 1px 1px; */
    margin-top: 140px;
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

   }
   .footer3{
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
   .footer2{
    margin-top: 30px;
    /* padding: 20px; */
    /* padding: 20px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
   .footer1{
    margin-top: 20px;
   }
   .footer4 a {
    color: white;
    size: 40px;
    /* line-height: 150px; */
    height: 150px;
    font-size: 3rem;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
   
   }
   .footer2 a:hover{
    color: rgb(55, 55, 221);
    cursor: pointer;
   }
   .footer3 a:hover{
    color: rgb(55, 55, 221);
    cursor: pointer;
   }
   .fa-brands fa-facebook{

   }
   .black{
    animation: flade-left 2s infinite;
animation-timing-function: linear;}

@media (max-width:390px){

.po{
  width: 170px;
  color: rgb(97, 61, 61);
  /* margin-left: -20px; */
  margin-left: -15px;
 }
 .footer{
  width: 100%;
  display: inline-block;
  height: 600px;
  background-color: #110e0e;
  text-align: center;
 }
 .promotion__container {
  width: 100%;
  /* height: 80%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  text-align: center;
}
.promotion__container2{
  width: 450px;
  
}
.i{
  width: 230px;
  height: 400px;
}
.promotion__container promotion__left{
width: 100px;
}
 .pep{
  margin-left: -2px;
 }
 .footer1{
  /* background-color: aqua; */
  /* width: 100%;
  height: 200px; */
  text-align: center;
 }
}
.footer1 a{
  /* display: inline; */
  
}